.contact-profile
  .profile-picture
    = image_tag @contact.picture_url
  %section 
    %h1= @contact.name
    %b
      = @contact.headline 
      = @contact.title
    %ul
      - @contact.skills.each do |skill|
        %li
          .tag
            = skill.name
    %p= @contact.summary
    %p
      %b Location:
      = @contact.location
    %p
      %b Country:
      = @contact.country
    %p
      %b Industry:
      = @contact.industry

    - @contact.educations.each do |education|
      %p
        %b= education.name
      %p= education.description
      %p= education.period
    %p 
      %b Past Companies
      - @contact.companies.where(:current_company => false).each do |company|
        .company
          %p
            %b= company.name
            = company.start_date.strftime("%d %B, %Y") + " - " + company.end_date.strftime("%d %B, %Y")
            
          %p= company.title
          .fa.fa-facebook
          %p.fa.fa-linkedin= link_to company.linkedin_company_url
          %p= link_to company.website
          %p= company.industry
          %p= company.type
          %p= company.headquarters
          %p= company.company_size
          %p= company.founded
          %p= company.address
    %p 
      %b Current Companies
      - @contact.companies.where(:current_company => true).each do |company|
        = company.title
        = company.name
        = company.start_date
        = company.end_date
        = company.linkedin_company_url
        = company.website
        = company.industry
        = company.type
        = company.headquarters
        = company.company_size
        = company.founded
        = company.address
        = company.contact_id
  %aside
    %p
      %b Related Contacts
    - @contact.recommended_visitors.each do |recommended|
      %p
        %b= recommended.name
      %p= recommended.company
      %p= recommended.title
      %p
        %button.btn-hollow.btn-mini.btn-accent + Add Contact
        = link_to "See Profile", recommended.linkedin_url
    = link_to 'Edit', edit_contact_path(@contact)
    \|
    = link_to 'Back', contacts_path
