%h1 Listing educations

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Period
      %th Contact
      %th
      %th
      %th
      
  %tbody
    - @educations.each do |education|
      %tr
        %td= education.name
        %td= education.description
        %td= education.period
        %td= education.contact
        %td= link_to 'Show', education
        %td= link_to 'Edit', edit_education_path(education)
        %td= link_to 'Destroy', education, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Education', new_education_path
