%section.l-section
  .l-form.white-section{style: "padding:0"}
    = simple_form_for(@contact) do |f|
      = f.error_notification

      .form-inputs
        %fieldset
          .div{style: "display:block;margin:0 auto;"}
            = f.input :linkedin_url, placeholder: "http://linkedin.com/in/examplename"
            %p{style:"display:inline-block"}
              %img{src: "../assets/images/arrow.png", style: "width:25px;"}
            Copy and paste a public linkedin URL here.
            %br
            = f.label :tag_list_tokens, "Tags (separated by commas)"
            = f.text_field :tag_list_tokens, data: {load: @contact_tags}
            .form-actions
              = f.button :submit, class: "btn-mini btn-solid btn-accent"


