!!!
%html
  %head
    %title LinkedinScraper
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to root_path do
      %img{src: "../assets/images/black-logo.png", style: "max-width:250px;margin:3em auto; display: block;"}    
    %p.tac{style: "margin-bottom:2em"}
      Made a new contact?
      = link_to 'New Contact', new_contact_path, class: "btn-mini btn-hollow btn-accent"
      = link_to 'Export to CSV', contacts_path(format:"csv")

    %section.l-section.company-section
      
      = yield
