!!!
%html
  %head
    %title LinkedinScraper
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      = link_to root_path do
        %img{src: "../assets/images/black-logo.png"}   
      %ul 
        %li= link_to "Account", user_path(current_user)
    .p5
      = yield
